[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

[core]
  excludesFile = ~/.gitignore
  editor = subl -n -w

[pull]
  rebase = false

[include]
  # For username / creds / etc
  path = ~/.gitconfig.local
